 <!DOCTYPE html>
<html>
<head>
	<title>制作者一覧</title>
	<meta charset="utf-8">
  <meta content="text/html; charset=shift_jis" http-equiv="Content-Type" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="../CSS/reset.css" rel="stylesheet" type="text/css"/>
	<link href="../CSS/Creators.css" rel="stylesheet" type="text/css"/>
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/1.0.0/cropper.min.css" rel="stylesheet" type="text/css" media="all"/>
	<script src="../JS/jquery.3.3.1.js"></script>
	<script src="../JS/lightbox.js"></script>
	<script src="../JS/style.js" type="text/javascript"></script>
	<script src="../JS/dropdown.js" type="text/javascript"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cropper/1.0.0/cropper.min.js"></script>
	</head>
	<body>
		<!---------- ヘッダー開始 ---------->
		<header class="clearfix">
	    <div class="nav">
	      <nav>
				<!--ログインボタン-->
	        <input class="login_btn" type="button" value="ログイン">
				<!--新規登録ボタン-->
	        <input class="new_btn" type="button" value="新規登録">
				  <div class="login_user_icon"></div>
				<!--SNS開始-->
	        <div class="icon">
            <ul>
              <li><a href="https://twitter.com/social_sharing1" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram" target="_blank"></i></a></li>
              <li><a href="https://ja-jp.facebook.com/%E3%82%BD%E3%83%BC%E3%82%B7%E3%83%A3%E3%83%AB%E3%82%B7%E3%82%A7%E3%82%A2%E3%83%AA%E3%83%B3%E3%82%B0%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE-238624082989029/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            </ul>
	        </div>
			  <!--SNS終了-->
				<!--g-nav開始-->
	        <div class="menu">
	          <ul>
	            <li><a href="Top.html">トップ</a></li>
	            <li><a href="Top.html#works">作品一覧</a></li>
	            <li><a href="CreatorsList.html">制作者一覧</a></li>
	          </ul>
	        </div>
				<!--g-nav終了-->
	      </nav>
	    </div>
			<!--ロゴ-->
        <div class="logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
	  </header>
    <!----------ヘッダー終了---------->

    <!-- ログイン後ユーザーメニュー -->
    <div class="login_user_menu">
      <ul>
        <li><a href="mypage.html">マイページ</a></li>
        <li><a href="Contribution.html">作品投稿</a></li>
        <li><a class="logout">ログアウト</a></li>
      </ul>
    </div>


    <!--ログイン画面 -->
	    <div class="login_view">
	      <div class="login_background"></div>
	      <div class="login_image_container">
	        <div class="close_btn_container">
					<!--閉じるボタン-->
	          <div class="login_close_btn"><img src="../Images/close.png"  alt="閉じるボタン"/></div>
	          <div class="login_box">
	            <div class="login_header">
                <div class="login_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
	            </div>
	            <div class="login_word">
                <!--タイトル-->
	              <div class="login_title"><h1>ログイン</h1></div>

							  <!--入力フォーム-->
	              メールアドレス<input class="login_text" type="text" >
	              パスワード<input class="pass_text" type="password" >
								<p><a class="know_pass">パスワードをお忘れの方はこちら</a></p>
	            </div>

	            <div class="login_btn_content">
								<!--閉じるボタン-->
	                <input class="close_btn2" type="button"  value="閉じる">
								<!--ログインボタン-->
	                <input class="login_btn3" type="button"  value="ログイン">
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  <!--ログイン画面終わり -->
    <!--パスワードを忘れたら画面 -->
	    <div class="pass_view">
	      <div class="pass_background"></div>
	      <div class="pass_image_container">
	        <div class="close_btn_container">
					<!--閉じるボタン-->
	          <div class="pass_close_btn"><img src="../Images/close.png"  alt="閉じるボタン"/></div>
	          <div class="pass_box">
	            <div class="pass_header">
                <div class="pass_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
	            </div>
	            <div class="pass_word">
                <!--タイトル-->
	              <div class="pass_title"><h1>パスワード変更</h1></div>

							  <!--入力フォーム-->
	              メールアドレス<input class="mail_text" type="text" >
	            </div>

	            <div class="pass_btn_content">
								<!--閉じるボタン-->
	                <input class="close_btn2" type="button"  value="閉じる">
								<!--ログインボタン-->
	                <input class="mail_btn" type="button"  value="送信">
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  <!--パスワードを忘れたら画面終わり -->
    <!--ログイン完了画面 -->
    <div class="login_Comp_view">
      <div class="new_background"></div>
      <div class="new_image_container">
        <div class="close_btn_container">
          <div class="new_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
          <div class="new_touroku_box">
            <div class="new_header">
              <div class="new_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
            </div>
            <div class="login_Comp_text">
              <h1>ログインしました。</h1>
            </div>
            <div class="new_touroku_btn_content">
              <input class="top_btn1" type="button"  value="トップへ" onclick=location.href="Top.html" >
              <input class="mypage_btn" type="button" onclick="location.href='mypage.html'" value="マイページへ" >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--ログイン完了画面終わり -->

    <!-- 切り取りライトボックス中身 -->
      <div class="trimming_view">
        <div class="trimming_background"></div>
        <div class="trimming_image_container">
          <div class="trimming_close_btn_container">
            <div class="trimming_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
          </div>
          <div class="trimming_image">
              <!-- イメージが入るところ -->
          </div>
        </div>
        <div class="trimming_btns">
        <input class="trimming_delete_btn" type="button"  value="閉じる">
        <input class="trimming_view_btn" type="button" value="トリミング">
      </div>
      </div>

	　<!--新規登録画面 -->
	<form id="send" name="">
      <div class="new_view">
        <div class="new_background"></div>
        <div class="new_image_container">
          <div class="close_btn_container">
            <div class="new_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
            <div class="new_box">
              <div class="new_header">
                <div class="new_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
              </div>
              <div class="new_word">  </div>
              <div class="new_form_waku">
                <div class="new_title"><h1>新規登録</h1></div>
                <div class="new_images">
                  <div class="new_image">
                    <h1>アイコン画像</h1>
                  </div>
                  <label for="choice_btn">
                    <p>選択</p>
                    <input id="choice_btn" type="file" name="testimg">
                  </label>
                </div>
                <input class="new_trimming_btn" type="button"  value="アイコンをトリミング">
                <dl class="new_form">
                  <dt>ユーザー名</dt>
                  <dd><input type="text" name="user_name"id="sineUp_user_name"></dd>
                  <dt>メールアドレス</dt>
                  <dd><input type="text" name="mail"id="sineUP_mail"></dd>
                  <dt>パスワード</dt>
                  <dd><input type="password" name="password1"id="sineUp_password1"></dd>
									<dt>※パスワード確認</dt>
                  <dd><input type="password" name="password2"id="sineUp_password2"></dd>
                </dl>
              </div>
              <div class="new_btn_content">
                <input class="close_btn2" type="button"  value="閉じる">
                <input class="confirmation_btn" type="button"  value="確認">
              </div>
            </div>
          </div>
        </div>
      </div>
      </form>
  <!--新規登録画面終わり -->

	<!--新規登録確認画面 -->
	  <div class="new_confirmation_view">
	    <div class="new_background"></div>
	      <div class="new_image_container">
	        <div class="close_btn_container">
	          <div class="new_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
	          <div class="new_box">
	            <div class="new_header">
                <div class="new_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
	            </div>
	            <div class="new_word"></div>
	              <div class="new_form_waku">
	              <div class="new_title"><h1>新規登録内容確認</h1></div>
	              <div class="new_images">
	                <div class="new_image"><h1>アップロードしてー</h1></div>
	              </div>

								<dl class="new_form">
									<dt>ユーザー名</dt>
									<dd><input type="text" disabled="disabled" id="user_name"></dd>
									<dt>メールアドレス</dt>
									<dd><input type="text" disabled="disabled" id="mail"></dd>
									<dt>パスワード</dt>
									<dd><input type="text" disabled="disabled" id="password1"></dd>
								</dl>
	              </div>
	                <div class="new_btn_content">
	                  <input class="return_btn" type="button"  value="戻る" >
	                  <input class="touroku_btn" type="button"  value="登録" >
	                </div>
	            </div>
	          </div>
	        </div>
	    </div>
	        <!--新規登録確認画面終わり -->

	        <!--登録完了画面 -->
	        <div class="new_touroku_view">
	        <div class="new_background"></div>
	        <div class="new_image_container">
	          <div class="close_btn_container">
	            <div class="new_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
	            <div class="new_box">
	              <div class="new_header">
                  <div class="new_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
	              </div>
	              <div class="touroku_text">
	                <h1>登録完了</h1>
	                <h2>ご登録ありがとうございます。</h2>
	              </div>
	                <div class="new_btn_content">
	                  <input class="close_btn2" type="button"  value="閉じる"  >
	                  <input class="login_btn4" type="button"  value="ログイン" >
	                </div>
	            </div>
	          </div>
	        </div>
	    </div>
	        <!--登録完了画面終わり -->

					<!----------コンテンツ開始---------->
					<div class="info">

						<!--背景-->
							<div class="background"></div>
            <!--背景-->

							<div class="contents">

								<!--タイトル-->
								<div class="title">
									<div class="left_border"></div>
									<div class="right_border"></div>
									<h1>制作者一覧</h1>
								</div>
                <!--タイトル-->

								<!--検索窓開始-->
								<dl class="kensaku">
									<dt><input type="text" name="kensaku" placeholder="制作者名で検索" id ="searchErea"/></dt>
									<dd><button id ="searchButton">検索</button></dd>
								</dl>
								<!--検索窓終了-->

								<!--クリエイターアイコン表示部分-->
								<div class="creators_box_waku">
									<div class="creators_box">
										<div class="creators_hover">
										<div class="hover_background"></div>
                    <div class="creator_name">
                      <h1>首絞めハム太郎</h1>
										</div>
										</div>
									</div>
						  </div>
							<!--クリエイターアイコン表示部分終了-->



					<!---------- コンテンツ部分終了 ---------->

		<!---------- フッター開始 ---------->
		<footer>
			<div class="footer">
      <div class="footer_logo">
        <a href="Top.html"><img src="../Images/logo.png"></a>
      </div>
        <h2>©social_sharing_×××××××××××</h2>
			</div>
    </footer>
		<!---------- フッター終了 ---------->
    </div>
</div>
		<script type="text/javascript" src="../JS/CreatorsList.js" ></script>
</body>
</html>
