<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>制作者詳細</title>
<link href="../CSS/reset.css" rel="stylesheet" type="text/css"/>
<link href="../CSS/Info.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="../JS/jquery.3.3.1.js"></script>
<script src="../JS/jquery.bgswitcher.js"></script>
<script src="../JS/lightbox.js"></script>
<script src="../JS/style.js" type="text/javascript"></script>
<script src="../JS/page_top.js" type="text/javascript"></script>
<script src="../JS/dropdown.js" type="text/javascript"></script>
<script src="../JS/scroll.js" type="text/javascript"></script>
<script type="text/javascript" src="../Lib/vue.js"></script>
<script type="text/javascript" src="../Lib/jquery.raty.js"></script>
<script>
  jQuery(function($) {
      $('.bg-slider').bgSwitcher({
          images: ['../Images/background1.jpg','../Images/background2.png','../Images/background3.jpg'], // 切り替える背景画像を指定
      });
  });
</script>
</head>
<body>
	<header class="clearfix">
      <div class="nav">
        <nav>
          <input class="login_btn" type="button" value="ログイン">
          <input class="new_btn" type="button" value="新規登録">
          <div class="login_user_icon"></div>
           <div class="icon">
            <ul>
              <li><img src="../Images/Twitter.png" alt=""></li>
              <li><img src="../Images/instagram.png" alt=""></li>
              <li><img src="../Images/facebook.png" alt=""></li>
            </ul>
          </div>
          <div class="menu">
          <ul>
            <li><a href="Top.html">TOP</a></li>
            <li><a href="Top.html#works">作品一覧</a></li>
            <li><a href="CreatorsList.html">制作者一覧</a></li>
          </ul>
          </div>
        </nav>
      </div>
    <div class="logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
  </header>
  <div class="login_user_menu">
            <ul>
              <li><a href="mypage.html">マイページ</a></li>
              <li><a href="Contribution.html">作品投稿</a></li>
              <li><a href="#">プロフィール編集</a></li>
              <li><a href="#">ログアウト</a></li>
            </ul>
          </div>
  <!--ログイン画面 -->
    <div class="login_view">
        <div class="login_background"></div>
        <div class="login_image_container">
          <div class="close_btn_container">
            <div class="login_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
            <div class="login_box">
              <div class="login_header">
                <div class="login_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
              </div>
              <div class="login_word">
                <div class="login_title"><h1>ログイン</h1></div>
                ユーザー名<h2>※またはメールアドレス</h2><input class="login_text" type="text" >
                 パスワード<input class="pass_text" type="text" >
              </div>
                <div class="login_btn_content">
                  <input class="close_btn2" type="button"  value="閉じる">
                  <input class="login_btn3" type="button"  value="ログイン">
                </div>
            </div>
          </div>
        </div>
    </div>
        <!--ログイン画面終わり -->

        <!--新規登録画面 -->
        <div class="new_view">
        <div class="new_background"></div>
        <div class="new_image_container">
          <div class="close_btn_container">
            <div class="new_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
            <div class="new_box">
              <div class="new_header">
                <div class="new_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
              </div>
              <div class="new_word">

              </div>
              <div class="new_form_waku">
              <div class="new_title"><h1>新規登録</h1></div>
              <div class="new_images">
                <div class="new_image">
                	<h1>アイコン画像</h1>
                </div>
                <label for="choice_btn">
                  <p>選択</p>
                 <input id="choice_btn" type="file">
                </label>
              </div>
                <dl class="new_form">
                  <dt>ユーザー名</dt>
                  <dd><input type="text" name="user_name"id="sineUp_user_name"></dd>
                  <dt>メールアドレス</dt>
                  <dd><input type="text" name="mail"id="sineUP_mail"></dd>
                  <dt>パスワード</dt>
                  <dd><input type="password" name="password1"id="sineUp_password1"></dd>
                  <dt>※パスワード確認</dt>
                  <dd><input type="password" name="password2"id="sineUp_password2"></dd>
                </dl>
              </div>
                <div class="new_btn_content">
                  <input class="close_btn2" type="button"  value="閉じる">
                  <input class="confirmation_btn" type="button"  value="確認">
                </div>
            </div>
          </div>
        </div>
    </div>
  <!--新規登録画面終わり -->

        <!--新規登録確認画面 -->
        <div class="new_confirmation_view">
        <div class="new_background"></div>
        <div class="new_image_container">
          <div class="close_btn_container">
            <div class="new_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
            <div class="new_box">
              <div class="new_header">
                <div class="new_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
              </div>
              <div class="new_word">

              </div>
              <div class="new_form_waku">
              <div class="new_title"><h1>新規登録内容確認</h1></div>
              <div class="new_images">
                <div class="new_image"><h1>アップロードしてー</h1></div>
              </div>

                <dl class="new_form">
                  <dt>ユーザー名</dt>
                  <dd><input type="text" disabled="disabled" name="user_name"></dd>
                  <dt>メールアドレス</dt>
                  <dd><input type="text" disabled="disabled" name="mail"></dd>
                  <dt>パスワード</dt>
                  <dd><input type="text" disabled="disabled" name="password1"></dd>
                  <dt>※パスワード確認</dt>
                  <dd><input type="text" disabled="disabled" name="password2"></dd>
                </dl>
              </div>
                <div class="new_btn_content">
                  <input class="return_btn" type="button"  value="戻る" >
                  <input class="touroku_btn" type="button"  value="登録" >
                </div>
            </div>
          </div>
        </div>
    </div>
        <!--新規登録確認画面終わり -->

        <!--登録完了画面 -->
        <div class="new_touroku_view">
        <div class="new_background"></div>
        <div class="new_image_container">
          <div class="close_btn_container">
            <div class="new_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
            <div class="new_box">
              <div class="new_header">
                <div class="new_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
              </div>
              <div class="touroku_text">
                <h1>登録完了</h1>
                <h2>ご登録ありがとうございます。</h2>
              </div>
                <div class="new_btn_content">
                  <input class="close_btn2" type="button"  value="閉じる"  >
                  <input class="mypage_btn" type="button" onclick="location.href='mypage.html'"  value="マイページへ" >
                </div>
            </div>
          </div>
        </div>
    </div>
        <!--登録完了画面終わり -->
        <!--プロフィール編集画面 -->
        <div class="Editing_view">
        <div class="Editing_background"></div>
        <div class="Editing_image_container">
          <div class="close_btn_container">
            <div class="Editing_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
            <div class="Editing_box">
              <div class="Editing_header">
                <div class="Editing_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
              </div>
              <div class="Editing_word">

              </div>
              <div class="Editing_form_waku">
              <div class="Editing_title"><h1>プロフィール編集</h1></div>
              <div class="Editing_images">
                <div class="Editing_image"><h1>アップロードしてー</h1></div>
                <input class="choice_btn" type="file"  value="選択">
              </div>
                <dl class="Editing_form">
                  <dt>ユーザー名</dt>
                  <dd><input type="text" name="user_name"></dd>
                  <dt>メールアドレス</dt>
                  <dd><input type="text" name="mail"></dd>
                  <dt>旧パスワード</dt>
                  <dd><input type="text" name="password1"></dd>
                  <dt>新パスワード</dt>
                  <dd><input type="text" name="password2"></dd>
                </dl>
              </div>
                <div class="Editing_btn_content">
                  <input class="delete_btn2" type="button"  value="アカウントを削除">
                  <input class="storage_btn" type="button"  value="保存">
                </div>
            </div>
          </div>
        </div>
    </div>
        <!--プロフィール編集画面終わり -->

        <div class="background"></div>
<div class="info">
		<div class="contents">
			<div class="left">
				<div class="title"><h1>制作者詳細</h1></div>
				<div class="creators_icon"></div>
				<div class="name"><h1>首絞めハム太郎</h1></div>
				<div class="sns_icon">
				 <ul>
					 <li><img src="../Images/Twitter.png" alt=""></li>
					 <li><img src="../Images/instagram.png" alt=""></li>
					 <li><img src="../Images/facebook.png" alt=""></li>
				 </ul>
			 </div>
	</div>
	<div class="right">
	<dl class="kensaku">
		<dt><input type="text" name="kensaku"  placeholder="タイトルで検索" id="searchErea" /></dt>
		<dd><button id = "searchButton">検索</button></dd>
	</dl>

		<div class="works_list">
			<div class="lightbox_waku">
                <div class="lightbox">
                  <div class="lightbox_hover">
                    <div class="hover_background"></div>
                  </div>
                </div>
                <div class="lightbox">
                  <div class="lightbox_hover">
                    <div class="hover_background"></div>
                  </div>
                </div>
                <div class="lightbox">
                  <div class="lightbox_hover">
                    <div class="hover_background"></div>
                  </div>
                </div>
                <div class="lightbox">
                  <div class="lightbox_hover">
                    <div class="hover_background"></div>
                  </div>
                </div>
                <div class="lightbox">
                  <div class="lightbox_hover">
                    <div class="hover_background"></div>
                  </div>
                </div>
                <div class="lightbox">
                  <div class="lightbox_hover">
                    <div class="hover_background"></div>
                  </div>
                </div>
                <div class="lightbox">
                  <div class="lightbox_hover">
                    <div class="hover_background"></div>
                  </div>
                </div>
                <div class="lightbox">
                  <div class="lightbox_hover">
                    <div class="hover_background"></div>
                  </div>
                </div>
                <div class="lightbox">
                  <div class="lightbox_hover">
                    <div class="hover_background"></div>
                  </div>
                </div>
                <div class="lightbox">
                  <div class="lightbox_hover">
                    <div class="hover_background"></div>
                  </div>
                </div>
                <div class="lightbox">
                  <div class="lightbox_hover">
                    <div class="hover_background"></div>
                  </div>
                </div>
                <div class="lightbox">
                  <div class="lightbox_hover">
                    <div class="hover_background"></div>
                  </div>
                </div>
            </div>

			<div class="lightbox_view">
        <div class="lightbox_background"></div>
        <div class="lightbox_image_container">
          <div class="close_btn_container">
            <div class="close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
          </div>
            <div class="lightbox_left_image"></div>
            <div class="lightbox_right">
              <div class="user_information">
                <div class="user_icon"></div>
                <div class="user_name"><h1>illustration by 〇〇〇〇〇</h1></div>
                <div class="user_sns_icon">
                  <ul>
                    <li><img src="../Images/Twitter.png" alt=""></li>
                    <li><img src="../Images/instagram.png" alt=""></li>
                    <li><img src="../Images/facebook.png" alt=""></li>
                  </ul>
                </div>
                <div class="work_title"><h1>首絞めハム太郎(作品タイトル)</h1></div>
                <div class="review">
                  <h1>レビューをする</h1>
                  <h2>★★★★★</h2>
                </div>
                <div class="review_coment">
                  <h1>コメントをする</h1>
                  <textarea name="comment" cols="40" rows="8"></textarea>
                  <input class="review_btn" type="button"  value="レビュー" >
                </div>
                <div class="review_all">
                  <h1>レビュー合計</h1>
                  <h2>★★★★★</h2>
                </div>
                <div class="past_coment"></div>
            </div>
          </div>
      </div>
        </div>
		</div>
		<table>
			<tr>
				<td>
					<input class="before_btn" type="button" value="">
				</td>
				<td>
					<p class="pageNum">{{pageNum}}</p>
				</td>
				<td>
					<input class="next_btn" type="button" value="">
				</td>
			</tr>
		</table>

  </div>
	</div>
	</div>
<footer>
      <div class="footer_logo">
        <a href="Top.html"><img src="../Images/logo.png"></a>
      </div>
        <h2>©social_sharing_×××××××××××</h2>
    </footer>
  <script type="text/javascript" src="../JS/CreatorsInfo.js"></script>
</body>
</html>
