<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="text/html; charset=shift_jis" http-equiv="Content-Type" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>マイページ</title>
	<link href="../CSS/reset.css" rel="stylesheet" type="text/css"/>
	<link href="../CSS/mypage.css" rel="stylesheet" type="text/css"/>
	<!-- <link href="../CSS/works.css" rel="stylesheet" type="text/css"/> -->
  <link href="../CSS/jquery.fs.zoomer.css" rel="stylesheet" />
  <link href="../CSS/slick-theme.css" rel="stylesheet" type="text/css"/>
  <link href="../CSS/slick.css" rel="stylesheet" type="text/css"/>
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/1.0.0/cropper.min.css" rel="stylesheet" type="text/css" media="all"/>
<script src="../JS/jquery.3.3.1.min.js"></script>
<script src="../JS/lightbox.js"></script>
<script src="../JS/dropdown.js" type="text/javascript"></script>
<script type="text/javascript" src="../Lib/jquery.raty.js"></script>
<script type="text/javascript" src="../Lib/vue.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cropper/1.0.0/cropper.min.js"></script>
</head>
<body>
  <!---------- ヘッダー開始 ---------->
  <header class="clearfix">
      <div class="nav">
        <nav>
          <div class="login_user_icon"></div>
            <div class="icon">
              <ul>
                <li><a href="https://twitter.com/social_sharing1" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram" target="_blank"></i></a></li>
                <li><a href="https://ja-jp.facebook.com/%E3%82%BD%E3%83%BC%E3%82%B7%E3%83%A3%E3%83%AB%E3%82%B7%E3%82%A7%E3%82%A2%E3%83%AA%E3%83%B3%E3%82%B0%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE-238624082989029/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
              </ul>
            </div>
            <div class="menu">
              <ul>
                <li><a href="Top.html">トップ</a></li>
                <li><a href="Top.html#works">作品一覧</a></li>
                <li><a href="CreatorsList.html">制作者一覧</a></li>
              </ul>
            </div>
        </nav>
      </div>
    <div class="logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
  </header>
  <!---------- ヘッダー終了 ---------->

  <!--ログイン後ユーザーメニュー -->
  <div class="login_user_menu">
    <ul>
      <li><a href="mypage.html">マイページ</a></li>
      <li><a href="Contribution.html">作品投稿</a></li>
      <li><a class="Editing">登録情報・変更</a></li>
      <li><a class="logout">ログアウト</a></li>
    </ul>
  </div>
  <!--ログイン後ユーザーメニュー -->

  <!--保存完了画面 -->
    <div class="storage_view">
      <div class="storage_background"></div>
      <div class="storage_image_container">
        <div class="close_btn_container">
          <div class="storage_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
          <div class="storage_box">
            <div class="storage_header">
              <div class="storage_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
            </div>
            <div class="storage_text">
              <h1>保存完了</h1>
              <h2>保存が完了いたしました。</h2>
            </div>
            <div class="storage_btn_content">
              <input class="top_return_btn" type="button" onclick="location.href='Top.html'"  value="トップへ"  >
              <input class="mypage_btn" type="button" onclick="location.href='mypage.html'"  value="マイページへ" >
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--保存完了画面終わり -->

  <!-- 切り取りライトボックス中身 -->
      <div class="trimming_view">
        <div class="trimming_background"></div>
        <div class="trimming_image_container">
          <div class="trimming_close_btn_container">
            <div class="trimming_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
          </div>
          <div class="trimming_image">
              <!-- イメージが入るところ -->
          </div>
        </div>
        <div class="trimming_btns">
        <input class="trimming_delete_btn" type="button"  value="閉じる">
        <input class="trimming_view_btn" type="button" value="トリミング">
      </div>
      </div>

  <!--登録情報・変更編集画面 -->
    <div class="Editing_view">
      <div class="Editing_background"></div>
      <div class="Editing_image_container">
        <div class="close_btn_container">
          <div class="Editing_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
          <div class="Editing_box">
            <div class="Editing_header">
              <div class="Editing_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
            </div>
            <div class="Editing_word"></div>
             <div class="Editing_form_waku">
              <div class="Editing_title"><h1>登録情報・変更</h1></div>
                <dl class="Editing_form">
                  <dt>ユーザー名</dt>
                  <dd><input type="text" name="user_name"id="sineIn_user_name"></dd>
                  <dt>メールアドレス</dt>
                  <dd><input type="text" name="mail"id="sineIn_mail"></dd>
                  <dt>新パスワード</dt>
                  <dd><input type="password" name="password1"id="sineIn_pass_old"></dd>
                  <dt>確認パスワード</dt>
                  <dd><input type="password" name="password2"id="sineIn_pass_new"></dd>
                </dl>
            </div>
                <div class="Editing_btn_content">
                  <input class="delete_btn2" type="button"  value="アカウント消去">
                  <input class="storage_btn" type="button"  value="保存">
                </div>
          </div>
        </div>
      </div>
    </div>
  <!--プロフィール編集画面終わり -->

  <!--アカウント削除画面 -->
    <div class="delete_view">
    <div class="delete_background"></div>
      <div class="delete_image_container">
        <div class="close_btn_container">
          <div class="delete_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
            <div class="delete_box">
              <div class="delete_header">
                <div class="delete_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
              </div>
              <div class="delete_text">
                <h1>アカウントを消去します。</h1>
                <h2>本当によろしいですか？</h2>
              </div>
                <div class="delete_btn_content">
                  <input class="close_btn2" type="button"  value="閉じる"  >
                  <input class="Completion_btn" type="button"  value="アカウントを削除" >
                </div>
            </div>
        </div>
      </div>
    </div>
  <!--アカウント削除画面終わり -->
　<!--アカウント削除完了画面 -->
    <div class="delete_Completion_view">
      <div class="delete_background"></div>
      <div class="delete_image_container">
        <div class="close_btn_container">
          <div class="delete_box">
            <div class="delete_header">
              <div class="delete_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
            </div>
            <div class="delete_Completion_text">
              <h1>アカウントを消去しました。</h1>
              <h2>ご利用ありがとうございました。</h2>
            </div>
            <div class="delete_Completion_btn_content">
              <input class="delete_Completion_btn" type="button" onclick="location.href='Top.html'" value="トップへ" >
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--アカウント削除完了画面終わり -->




  <!---------- コンテンツ開始 ---------->
    <div id="mypage"></div>
      <div class="mypage">
        <div class="background"></div>
        <div class="infomation_background"></div>
          <div class="contents">
            <form id="mypage_send" name="send" method="POST" enctype="multipart/form-data">
            <div class="user_information">
              <div class="mypage_icon"></div>

              <div class="mypage_name"><h1></h1></div>
							<div class="icon_picture">
								<label for="choice_btn">
									<p>画像選択</p>
									<input id="choice_btn" type="file" name="testimg">
								</label>
							</div>
							<div class="icon_trimming">
								<input class="trimming_btn" type="button" value="トリミング開始">
							</div>
              <div class="my_introduction"></div>
              <div class="btn_mypage">
                <input class="works_btn" type="button" onclick="location.href='Contribution.html'" value="作品投稿">
                <input class="Editing_btn" type="button" value="プロフィール編集">


                <input class="send" type="button" value="変更内容送信">
              </div>
            </div>
            </form>
            <div class="my_works">
              <!-- 項目タイトル -->
                <div class="title">
                  <h1>投稿作品一覧</h1>
                </div>
              <!-- 項目タイトル -->
              <!-- ソートボタン -->
           <div class="myworks_menu">
            <div class="mymenu_btn">
              <input class="myNEW_btn" type="button"  value="新しい順" >
              <input class="myOLD_btn" type="button"  value="古い順">
                <div class="mycheck_btn_waku">

                  <input type="checkbox" id="myall" checked />
                  <label for="myall" class="mycheck_btn">すべて</label>


                  <input type="checkbox" id="mychara" checked />
                  <label for="mychara" class="mycheck_btn">キャラ</label>


                  <input type="checkbox" id="mybackGround" checked />
                  <label for="mybackGround" class="mycheck_btn">背景</label>


                  <input type="checkbox" id="myitem" checked />
                  <label for="myitem" class="mycheck_btn">アイテム</label>

                </div>
            </div>
          </div>
        <!-- ソートボタン -->

              <!--ライトボックス -->
                <div class="lightbox_waku">
                  <div class="lightbox">
                    <div class="lightbox_hover">
                      <div class="hover_background"></div>
                      <div class="lightbox_information">
                        <div class="lightbox_title"><h1></h1></div>
                        <div class="lightbox_user_waku">
                          <div class="lightbox_user_icon"></div>
                          <div class="lightbox_user_name"><h1>illustration by 〇〇〇〇〇</h1></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <!--ライトボックス -->

              <!--ライトボックス中身 -->
                <div class="lightbox_view">
                  <div class="lightbox_background"></div>
                  <div class="lightbox_image_container">
                    <div class="close_btn_container">
                      <div class="close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
                    </div>
                    <div class="lightbox_left_image">投稿作品</div>
                    <div class="lightbox_right">
                      <div class="works_title">
                        <p>タイトル</p>
                        <input class="title_box" type="text" value="親分">
                      </div>
                      <div class="serect_box">
                        <p>ジャンル</p>
                        <select name="Genre" id ="Genre" >
                          <option value="">選択してください</option>
                          <option value="キャラクター">キャラクター</option>
                          <option value="背景">背景</option>
                          <option value="アイテム">アイテム</option>
                        </select>
                      </div>
                      <div classs="works_info">
                        <p>作品概要</p>
                      <textarea class="work_infoarea"></textarea>
                    </div>
                      <div class="btn_lightbox">
                        <input class="delete_btn" type="button" value="削除">
                        <input class="storage_btn2" type="button" value="保存">
                      </div>

                    </div>
                </div>
              </div>
            <!--ライトボックス中身 -->

          </div>


  <!---------- コンテンツ開始 ---------->

  <!---------- フッター開始 ---------->
    <footer>
      <div class="footer">
        <div class="footer_logo">
          <a href="Top.html"><img src="../Images/logo.png"></a>
        </div>
        <h2>©social_sharing_×××××××××××</h2>
    	</div>
    </footer>
    </div>
  <!---------- フッター終了 ---------->
  <script type="text/javascript" src="../JS/mypage.js"></script>
  </div>
  </body>
  </html>
