<!-- test  -->

<!DOCTYPE html>
<html lang="ja">

	<head>
		<title>test</title>

		<link href="../CSS/test.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript"src="../Lib/jquery.js"></script>
		<script type="text/javascript"src="../Lib/vue.js"></script>

	</head>

	<body>

		<p>藤村テスト用HTML<br><br></p>


		<form id ="testForm">

			<p>
				<input type="radio"name="sortType"value="insert_at:DESC"checked="checked">NEW
				<input type="radio"name="sortType"value="insert_at:ASC">OLD
				<input type="radio"name="sortType"value="rank:DESC">POPUARIY
			</p>
			<p>
				<input type="checkbox"name ="category1"value="1"id="c1"checked="checked">キャラクタ
				<input type="checkbox"name ="category2"value="2"id="c2"checked="checked">背景
				<input type="checkbox"name ="category3"value="3"id="c3"checked="checked">アイテム
			</p>

		</form>

		<button id="testButton"type="button"name="action"value="action">現在の条件で再検索</button>

		<p>画像表示テスト<br>動的にフォルダから画像を取得し表示</p>
		<div id = ImageOutPutTest>
		</div>

		<br><br><br><br>

		<p>詳細表示欄</p>
		<div id = ComentTest></div>

		<br><br><br><br>

		<p>画像アップテスト<br></p>
		<div id = ImageInPutTest></div>
		<input type="file" name="file1" id="file1">

	<script type="text/javascript"src="../JS/test.js"></script>

	</body>
</html>