<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>デザイン紹介システム</title>
<link href="../CSS/reset.css" rel="stylesheet" type="text/css"/>
<link href="../CSS/Top.css" rel="stylesheet" type="text/css"/>
<script src="../JS/jquery.3.3.1.js"></script>
<script src="../JS/jquery.bgswitcher.js"></script>
<script>
  jQuery(function($) {
      $('.bg-slider').bgSwitcher({
          images: ['../Images/background1.jpg','../Images/background2.png','../Images/background3.jpg'], // 切り替える背景画像を指定
      });
  });
</script>
</head>
<body>
  <header class="clearfix">
      <div class="nav">
        <nav>
          <div class="logo"></div>
          <input class="login_btn" type="button" onClick="onClickEventSearch()" value="ログイン" width = 300px height = 100px; >
           <div class="icon">
            <ul>
              <li><img src="../Images/twitter.png" alt=""></li>
              <li><img src="../Images/instagram.png" alt=""></li>
              <li><img src="../Images/facebook.png" alt=""></li>
            </ul>
          </div>
          <div class="menu">
          <ul>
            <li><a href="#">TOP</a></li>
            <li><a href="#">作品一覧</a></li>
            <li><a href="#">制作者一覧</a></li>
          </ul>
          </div>
        </nav>
      </div>
  </header>
  <div class="bg-slider">
    <div class="title">
  <h1 class="bg-slider__title">DESING INTRODUCTION</h1>
    </div>
</div>

  <div id="contents">
    <div class="top">
    <div class="background"></div>
  <div class="top_btn">
    <input class="login_btn2" type="button" onClick="onClickEventSearch()" value="ログイン" width = 300px height = 100px; >
    <input class="touroku_btn" type="button" onClick="onClickEventSearch()" value="新規登録" width = 300px height = 100px; >
    <div class="scroll">
     <a href="#"><span></span>Scroll</a>
    </div>
  </div>
    </div>
    <div class="works">
        <div class="works_title"><p>作品一覧</p>
          <div class="works_menu">
            <div class="menu_btn">
            <input class="NEW_btn" type="button" onClick="onClickEventSearch()" value="NEW" width = 300px height = 100px; >
            <input class="OLD_btn" type="button" onClick="onClickEventSearch()" value="OLD" width = 300px height = 100px; >
            <input class="POPULARTY_btn" type="button" onClick="onClickEventSearch()" value="POPULARTY" width = 300px height = 100px; >
                <div class="redio_btn_waku">
                  <div class="redio_btn">
                  <input type="checkbox" />
                      <label>キャラ</label>
                  </div>
                  <div class="redio_btn">
                   <input type="checkbox" />
                      <label>背景</label>
                  </div>
                  <div class="redio_btn">
                    <input type="checkbox" />
                      <label>アイテム</label>
                  </div>
                </div>
              </div>
            </div>
          <div class="works_contents"></div>
            <div class="lightbox_waku">
            </div>
        </div>
      </div>
    </div>
    
</body>
</html>