<!DOCTYPE html>
<html>
<head>
	<title>作品一覧</title>
	<meta charset="utf-8">
  <meta content="text/html; charset=shift_jis" http-equiv="Content-Type" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="../CSS/reset.css" rel="stylesheet" type="text/css"/>
	<link href="../CSS/works.css" rel="stylesheet" type="text/css"/>
  <link href="../CSS/jquery.fs.zoomer.css" rel="stylesheet" />
  <link href="../CSS/slick-theme.css" rel="stylesheet" type="text/css"/>
  <link href="../CSS/slick.css" rel="stylesheet" type="text/css"/>
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <script src="../JS/jquery.3.3.1.min.js"></script>
  <script src="../JS/jquery.fs.zoomer.js"></script>
	<script src="../JS/lightbox.js"></script>
	<script src="../JS/style.js" type="text/javascript"></script>
	<script src="../JS/dropdown.js" type="text/javascript"></script>
  <script src="../JS/slick.min.js" type="text/javascript"></script>
	</head>
	<body>
		<!---------- ヘッダー開始 ---------->
		<header class="clearfix">
	    <div class="nav">
	      <nav>
				<!--ログインボタン-->
	        <input class="login_btn" type="button" value="ログイン">
				<!--新規登録ボタン-->
	        <input class="new_btn" type="button" value="新規登録">
				  <div class="login_user_icon"></div>
				<!--SNS開始-->
	        <div class="icon">
            <ul>
              <li><a href="https://twitter.com/social_sharing1" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram" target="_blank"></i></a></li>
              <li><a href="https://ja-jp.facebook.com/%E3%82%BD%E3%83%BC%E3%82%B7%E3%83%A3%E3%83%AB%E3%82%B7%E3%82%A7%E3%82%A2%E3%83%AA%E3%83%B3%E3%82%B0%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE-238624082989029/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            </ul>
	        </div>
			  <!--SNS終了-->
				<!--g-nav開始-->
	        <div class="menu">
	          <ul>
	            <li><a href="Top.html">トップ</a></li>
              <li><a href="#works">新着作品一覧</a></li>
	            <li><a href="Top.html#works">作品一覧</a></li>
	            <li><a href="CreatorsList.html">制作者一覧</a></li>
	          </ul>
	        </div>
				<!--g-nav終了-->
	      </nav>
	    </div>
			<!--ロゴ-->
        <div class="logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
	  </header>
    <!----------ヘッダー終了---------->

    <!-- ログイン後ユーザーメニュー -->
    <div class="login_user_menu">
      <ul>
        <li><a href="mypage.html">マイページ</a></li>
        <li><a href="Contribution.html">作品投稿</a></li>
        <li><a class="logout">ログアウト</a></li>
      </ul>
    </div>


	  <!--ログイン画面 -->
	    <div class="login_view">
	      <div class="login_background"></div>
	      <div class="login_image_container">
	        <div class="close_btn_container">
					<!--閉じるボタン-->
	          <div class="login_close_btn"><img src="../Images/close.png"  alt="閉じるボタン"/></div>
	          <div class="login_box">
	            <div class="login_header">
                <div class="login_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
	            </div>
	            <div class="login_word">
                <!--タイトル-->
	              <div class="login_title"><h1>ログイン</h1></div>

							  <!--入力フォーム-->
	              ユーザー名<h2>※またはメールアドレス</h2><input class="login_text" type="text" >
	              パスワード<input class="pass_text" type="password" >
	            </div>

	            <div class="login_btn_content">
								<!--閉じるボタン-->
	                <input class="close_btn2" type="button"  value="閉じる">
								<!--ログインボタン-->
	                <input class="login_btn3" type="button"  value="ログイン">
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  <!--ログイン画面終わり -->
    <!--ログイン完了画面 -->
    <div class="login_Comp_view">
      <div class="new_background"></div>
      <div class="new_image_container">
        <div class="close_btn_container">
          <div class="new_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
          <div class="new_box">
            <div class="new_header">
              <div class="new_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
            </div>
            <div class="login_Comp_text">
              <h1>ログインしました。</h1>
            </div>
            <div class="new_btn_content">
              <input class="close_btn2" type="button"  value="閉じる"  >
              <input class="mypage_btn" type="button" onclick="location.href='mypage.html'" value="マイページへ" >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--ログイン完了画面終わり -->

	　<!--新規登録画面 -->
      <div class="new_view">
        <div class="new_background"></div>
        <div class="new_image_container">
          <div class="close_btn_container">
            <div class="new_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
            <div class="new_box">
              <div class="new_header">
                <div class="new_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
              </div>
              <div class="new_word">  </div>
              <div class="new_form_waku">
                <div class="new_title"><h1>新規登録</h1></div>
                <div class="new_images">
                  <div class="new_image">
                    <h1>アイコン画像</h1>
                  </div>
                  <label for="choice_btn">
                    <p>選択</p>
                    <input id="choice_btn" type="file">
                  </label>
                </div>
                <dl class="new_form">
                  <dt>ユーザー名</dt>
                  <dd><input type="text" name="user_name"id="sineUp_user_name"></dd>
                  <dt>メールアドレス</dt>
                  <dd><input type="text" name="mail"id="sineUP_mail"></dd>
                  <dt>パスワード</dt>
                  <dd><input type="password" name="password1"id="sineUp_password1"></dd>
									<dt>※パスワード確認</dt>
                  <dd><input type="password" name="password2"id="sineUp_password2"></dd>
                </dl>
              </div>
              <div class="new_btn_content">
                <input class="close_btn2" type="button"  value="閉じる">
                <input class="confirmation_btn" type="button"  value="確認">
              </div>
            </div>
          </div>
        </div>
      </div>
  <!--新規登録画面終わり -->

	<!--新規登録確認画面 -->
	  <div class="new_confirmation_view">
	    <div class="new_background"></div>
	      <div class="new_image_container">
	        <div class="close_btn_container">
	          <div class="new_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
	          <div class="new_box">
	            <div class="new_header">
                <div class="new_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
	            </div>
	            <div class="new_word"></div>
	              <div class="new_form_waku">
	              <div class="new_title"><h1>新規登録内容確認</h1></div>
	              <div class="new_images">
	                <div class="new_image"><h1>アップロードしてー</h1></div>
	              </div>

								<dl class="new_form">
									<dt>ユーザー名</dt>
									<dd><input type="text" disabled="disabled" id="user_name"></dd>
									<dt>メールアドレス</dt>
									<dd><input type="text" disabled="disabled" id="mail"></dd>
									<dt>パスワード</dt>
									<dd><input type="text" disabled="disabled" id="password1"></dd>
								</dl>
	              </div>
	                <div class="new_btn_content">
	                  <input class="return_btn" type="button"  value="戻る" >
	                  <input class="touroku_btn" type="button"  value="登録" >
	                </div>
	            </div>
	          </div>
	        </div>
	    </div>
	        <!--新規登録確認画面終わり -->

	        <!--登録完了画面 -->
	        <div class="new_touroku_view">
	        <div class="new_background"></div>
	        <div class="new_image_container">
	          <div class="close_btn_container">
	            <div class="new_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
	            <div class="new_box">
	              <div class="new_header">
                  <div class="new_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
	              </div>
	              <div class="touroku_text">
	                <h1>登録完了</h1>
	                <h2>ご登録ありがとうございます。</h2>
	              </div>
	                <div class="new_btn_content">
	                  <input class="close_btn2" type="button"  value="閉じる"  >
	                  <input class="login_btn4" type="button"  value="ログイン" >
	                </div>
	            </div>
	          </div>
	        </div>
	    </div>
	        <!--登録完了画面終わり -->

          <div class="">
						<!--背景-->
							<div class="background"></div>
            <!--背景-->
            <!------トップスライダー----->
      <div class="slider-wrapper clearfix">
          <div class="slider-item">
            <img src="../Images/02.png" alt=""/>
          </div>
          <div class="slider-item">
            <img src="../Images/05.png" alt=""/>
          </div>
          <div class="slider-item">
            <img src="../Images/background1.jpg" alt=""/>
          </div>
      </div>
      <!------------コンテンツ部分------------>
      <!---------- 作品投稿開始 ---------->
        <div id="works"></div>
          <div class="works">

            <!-- 項目タイトル -->
            <div class="works_title"><p><a name="works">作品一覧</a></p>
            <!-- 項目タイトル -->

            <!-- ソートボタン -->
                <div class="works_menu">
                  <div class="menu_btn">
                    <input class="NEW_btn" type="button"  value="新しい順" >
                    <input class="OLD_btn" type="button"  value="古い順">
                    <input class="POPULARTY_btn" type="button"  value="人気順" >
                      <div class="check_btn_waku">

                        <input type="checkbox" id="all" checked />
                        <label for="all" class="check_btn">すべて</label>


                        <input type="checkbox" id="chara" checked />
                        <label for="chara" class="check_btn">キャラ</label>


                        <input type="checkbox" id="backGround" checked />
                        <label for="backGround" class="check_btn">背景</label>


                        <input type="checkbox" id="item" checked />
                        <label for="item" class="check_btn">アイテム</label>

                      </div>
                  </div>
                </div>
              <!-- ソートボタン -->

              <div class="works_contents"></div>
                <!-- ライトボックス -->
                  <div class="lightbox_waku">
                      <div class="lightbox">
                        <div class="lightbox_hover">
                          <div class="hover_background"></div>
                          <div class="lightbox_information">
                            <div class="lightbox_title"><h1></h1></div>
                             <div class="lightbox_user_waku">
                              <div class="lightbox_user_icon"></div>
                              <div class="lightbox_user_name"><h1>illustration by 〇〇〇〇〇</h1></div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                <!-- ライトボックス -->

            <!-- ライトボックス中身 -->
        <div class="lightbox_view">
          <div class="lightbox_background"></div>
          <div class="lightbox_image_container">
            <div class="close_btn_container">
              <div class="close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
            </div>
            <div class="lightbox_image">
              <div id="Zoomer" class="zoomer_wrapper">
                <img src="../Images/05.png" alt="イメージ">
              </div>
            </div>
            <div class="lightbox_title">
              <div class="user_information">
                <div class="user_icon"></div>
                <div class="user_name"><h1>illustration by 〇〇〇〇〇</h1></div>
                <div class="work_title"><h1>タイトルはないよ</h1></div>
              </div>
            </div>
          </div>
          <!-- 制作者コメント -->
          <div class="creator_box">
            <input id="creator_btn" type="button" value="詳細">
              <div class="creator_box_inner">
                <div class="creator_info">
                  <h2>制作者情報</h2>
                <div class="creator_icon"><img src="../Images/user.png"></div>
                <div class="creator_name"><h1>user</h1></div>
                <div class="creator_sns">
                  <ul>
                    <li><a href="https://twitter.com/social_sharing1" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://ja-jp.facebook.com/%E3%82%BD%E3%83%BC%E3%82%B7%E3%83%A3%E3%83%AB%E3%82%B7%E3%82%A7%E3%82%A2%E3%83%AA%E3%83%B3%E3%82%B0%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE-238624082989029/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                  </ul>
                </div>
                <div class="creator_coment"></div>
                <div class="work_coment_title"><h1>作品概要</h1></div>
                <div class="work_coment"></div>
              </div>
            </div>
          </div>
          <div class="review_box">
            <input id="review_btn" type="button" value="レビュー">
          <div class="review_box_inner">
            <div class="review_title">
              <!-- <button id="review_btn" ><h2>レビュー</h2></button> -->
            </div>
            <div class="review_title_h1"><h1>評価投稿</h1></div>
            <div class="review">
             <h1>レビューをする</h1>
             <h2>★★★★★</h2>
           </div>
           <div class="review_coment">
             <h1>コメントをする</h1>
             <textarea name="comment" cols="40" rows="8"></textarea>
             <input class="review_btn" type="button"  value="レビュー" >
           </div>
           <div class="all_h1"><h1>評価一覧</h1></div>
           <div class="review_all">
             <h1>レビュー合計</h1>
             <h2>★★★★★</h2>
           </div>
           <div class="past_coment"></div>
          </div>
        </div>
      </div>

            </div>
      <!---------- 作品投稿終了 ---------->


      <!------------コンテンツ部分------------>
          </div>

          <!---------- フッター開始 ---------->
		<footer>
			<div class="footer">
      <div class="footer_logo">
        <a href="Top.html"><img src="../Images/logo.png"></a>
      </div>
        <h2>©social_sharing_×××××××××××</h2>
			</div>
    </footer>
		<!---------- フッター終了 ---------->

		<script type="text/javascript" src="../JS/works.js" ></script>
</body>
</html>
