<!DOCTYPE html>
<html>
<head>
	<title>作品一覧</title>
	<meta charset="utf-8">
  <meta content="text/html; charset=shift_jis" http-equiv="Content-Type" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="../CSS/reset.css" rel="stylesheet" type="text/css"/>
	<link href="../CSS/works.css" rel="stylesheet" type="text/css"/>
  <link href="../CSS/jquery.fs.zoomer.css" rel="stylesheet" />
  <link href="../CSS/slick-theme.css" rel="stylesheet" type="text/css"/>
  <link href="../CSS/slick.css" rel="stylesheet" type="text/css"/>
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/1.0.0/cropper.min.css" rel="stylesheet" type="text/css" media="all"/>
  <script src="../JS/jquery.3.3.1.min.js"></script>
  <script src="../JS/jquery.fs.zoomer.js"></script>
	<script src="../JS/lightbox.js"></script>
	<script src="../JS/style.js" type="text/javascript"></script>
	<script src="../JS/dropdown.js" type="text/javascript"></script>
  <script src="../JS/hamburger.js" type="text/javascript"></script>
  <script src="../JS/slick.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="../Lib/jquery.raty.js"></script>
<script type="text/javascript" src="../Lib/vue.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cropper/1.0.0/cropper.min.js"></script>
	</head>
	<body>
		<!---------- ヘッダー開始 ---------->
		<header class="clearfix">
	    <div class="nav">
	      <nav>
				<!--ログインボタン-->
	        <input class="login_btn" type="button" value="ログイン">
				<!--新規登録ボタン-->
	        <input class="new_btn" type="button" value="新規登録">
				  <div class="login_user_icon"></div>
				<!--SNS開始-->
	        <div class="icon">
            <ul>
              <li><a href="https://twitter.com/social_sharing1" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram" target="_blank"></i></a></li>
              <li><a href="https://ja-jp.facebook.com/%E3%82%BD%E3%83%BC%E3%82%B7%E3%83%A3%E3%83%AB%E3%82%B7%E3%82%A7%E3%82%A2%E3%83%AA%E3%83%B3%E3%82%B0%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE-238624082989029/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            </ul>
	        </div>
			  <!--SNS終了-->
				<!--g-nav開始-->
	        <div class="menu">
	          <ul>
	            <li><a href="Top.html">トップ</a></li>
              <li><a href="#works">新着作品一覧</a></li>
	            <li><a href="Top.html#works">作品一覧</a></li>
	            <li><a href="CreatorsList.html">制作者一覧</a></li>
	          </ul>
	        </div>
				<!--g-nav終了-->
	      </nav>
	    </div>
      
      
            <!-- ハンバーガーメニュー開始 -->

    <div class="sp-box">
      <div class="btn-hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span>menu</span>
      </div>
      
      <!-- ログイン前 nav -->
      <nav class="sp-nav">
        <div class="drawer-menu">
          <!-- ログイン前 ul -->
          <ul class="before">
            <li><a href="spindex.html">トップ</a></li>
            <li><a href="works.html">作品一覧</a></li>              
            <li><a href="CreatorsList.html">制作者一覧</a></li>
            <li><a class="new_btn" href="profil.html">新規登録</a></li>
            <li><a class="login_btn">ログイン</a></li>
          </ul>
          
          <!-- ログイン前 ul -->
          <div class="user_data">
          <div class="login_user_icon"></div>
          </div>
          <ul class="after">
              <li><a href="spindex.html">トップ</a></li>
              <li><a href="works.html">作品一覧</a></li>              
              <li><a href="CreatorsList.html">制作者一覧</a></li>
              <li><p class="main_01">マイメニュー</p>
                <ul class="child_01">
                  <li><a href="mypage.html">マイページ</a></li>
                  <li><a href="Contribution.html">作品投稿</a></li>
                </ul>
              </li>
              <li><a class="logout">ログアウト</a></li>
            </ul>       
        </div>
        
<!--        <div class="drawer-icon">
          <ul>
            <li><a href="https://twitter.com/social_sharing1" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://ja-jp.facebook.com/%E3%82%BD%E3%83%BC%E3%82%B7%E3%83%A3%E3%83%AB%E3%82%B7%E3%82%A7%E3%82%A2%E3%83%AA%E3%83%B3%E3%82%B0%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE-238624082989029/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
          </ul>
        </div>-->
        
      </nav>
    </div>

    <!-- ハンバーガーメニュー終了 -->

      
			<!--ロゴ-->
        <div class="logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
	  </header>
    <!----------ヘッダー終了---------->

    <!-- ログイン後ユーザーメニュー -->
    <div class="login_user_menu">
      <ul>
        <li><a href="mypage.html">マイページ</a></li>
        <li><a href="Contribution.html">作品投稿</a></li>
        <li><a class="logout">ログアウト</a></li>
      </ul>
    </div>


	  <!--ログイン画面 -->
	    <div class="login_view">
	      <div class="login_background"></div>
	      <div class="login_image_container">
	        <div class="close_btn_container">
					<!--閉じるボタン-->
	          <div class="login_close_btn"><img src="../Images/close.png"  alt="閉じるボタン"/></div>
	          <div class="login_box">
	            <div class="login_header">
                <div class="login_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
	            </div>
	            <div class="login_word">
                <!--タイトル-->
	              <div class="login_title"><h1>ログイン</h1></div>

							  <!--入力フォーム-->
	              メールアドレス<input class="login_text" type="text" >
	              パスワード<input class="pass_text" type="password" >
								<p><a class="know_pass">パスワードをお忘れの方はこちら</a></p>
	            </div>

	            <div class="login_btn_content">
								<!--閉じるボタン-->
	                <input class="close_btn2" type="button"  value="閉じる">
								<!--ログインボタン-->
	                <input class="login_btn3" type="button"  value="ログイン">
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  <!--ログイン画面終わり -->

		<!--ログイン完了画面 -->
    <div class="login_Comp_view">
      <div class="new_background"></div>
      <div class="new_image_container">
        <div class="close_btn_container">
          <div class="new_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
          <div class="new_touroku_box">
            <div class="new_header">
              <div class="new_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
            </div>
            <div class="login_Comp_text">
              <h1>ログインしました。</h1>
            </div>
            <div class="new_touroku_btn_content">
              <input class="top_btn1" type="button"  value="トップへ" onclick=location.href="Top.html" >
              <input class="mypage_btn" type="button" onclick="location.href='mypage.html'" value="マイページへ" >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--ログイン完了画面終わり -->

		<!--パスワードを忘れたら画面 -->
	    <div class="pass_view">
	      <div class="pass_background"></div>
	      <div class="pass_image_container">
	        <div class="close_btn_container">
					<!--閉じるボタン-->
	          <div class="pass_close_btn"><img src="../Images/close.png"  alt="閉じるボタン"/></div>
	          <div class="pass_box">
	            <div class="pass_header">
                <div class="pass_logo"><a href="Top.html"><img src="../Images/logo.png"></a></div>
	            </div>
	            <div class="pass_word">
                <!--タイトル-->
	              <div class="pass_title"><h1>パスワード変更</h1></div>

							  <!--入力フォーム-->
	              メールアドレス<input class="mail_text" type="text" >
	            </div>

	            <div class="pass_btn_content">
								<!--閉じるボタン-->
	                <input class="close_btn2" type="button"  value="閉じる">
								<!--ログインボタン-->
	                <input class="mail_btn" type="button"  value="送信">
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  <!--パスワードを忘れたら画面終わり -->


    <!-- 切り取りライトボックス中身 -->
      <div class="trimming_view">
        <div class="trimming_background"></div>
        <div class="trimming_image_container">
          <div class="trimming_close_btn_container">
            <div class="trimming_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
          </div>
          <div class="trimming_image">
              <!-- イメージが入るところ -->
          </div>
        </div>
        <div class="trimming_btns">
        <input class="trimming_delete_btn" type="button"  value="閉じる">
        <input class="trimming_view_btn" type="button" value="トリミング">
      </div>
      </div>

	　


          <div class="">
						<!--背景-->
							<div class="background"></div>
            <!--背景-->
            <!------トップスライダー----->
      <div class="slider-wrapper clearfix">
          <div class="slider-item">
            <img src="../Images/02.png" alt=""/>
          </div>
          <div class="slider-item">
            <img src="../Images/05.png" alt=""/>
          </div>
          <div class="slider-item">
            <img src="../Images/background1.jpg" alt=""/>
          </div>
      </div>
      <!------------コンテンツ部分------------>
      <!---------- 作品投稿開始 ---------->
        <div id="works"></div>
          <div class="works">

            <!-- 項目タイトル -->
            <div class="works_title"><p><a name="works">作品一覧</a></p>
            <!-- 項目タイトル -->

            <!-- ソートボタン -->
                <div class="works_menu">
                  <div class="menu_btn">
                    <input class="NEW_btn" type="button"  value="新しい順" >
                    <input class="OLD_btn" type="button"  value="古い順">
                    <input class="POPULARTY_btn" type="button"  value="人気順" >
                      <div class="check_btn_waku">

                        <input type="checkbox" id="all" checked />
                        <label for="all" class="check_btn">すべて</label>


                        <input type="checkbox" id="chara" checked />
                        <label for="chara" class="check_btn">キャラ</label>


                        <input type="checkbox" id="backGround" checked />
                        <label for="backGround" class="check_btn">背景</label>


                        <input type="checkbox" id="item" checked />
                        <label for="item" class="check_btn">アイテム</label>

                      </div>
                  </div>
                </div>
              <!-- ソートボタン -->

              <div class="works_contents"></div>
                <!-- ライトボックス -->
                  <div class="lightbox_waku">
                      <div class="lightbox">
                        <div class="lightbox_hover">
                          <div class="hover_background"></div>
                          <div class="lightbox_information">
                            <div class="lightbox_title"><h1></h1></div>
                             <div class="lightbox_user_waku">
                              <div class="lightbox_user_icon"></div>
                              <div class="lightbox_user_name"><h1>illustration by 〇〇〇〇〇</h1></div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                <!-- ライトボックス -->

            <!-- ライトボックス中身 -->
        <div class="lightbox_view">
          <div class="lightbox_background"></div>
          <div class="lightbox_image_container">
            <div class="close_btn_container">
              <div class="close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
            </div>
            <div class="lightbox_image">
               <div id="Zoomer" class="zoomer_wrapper">
                <img src="../Images/05.png" alt="イメージ">
              </div>
							<div class="lightbox_contents_btn_waku">
								<div class="lightbox_contents_btn">
								<input id="review_btn_top" type="button" value="レビュー">
								<input id="creator_btn_top" type="button" value="詳細">
							</div>
						</div>
            </div>
            <div class="lightbox_title">
              <div class="user_information">
                <div class="user_icon"></div>
                <div class="user_name"><h1>illustration by 〇〇〇〇〇</h1></div>
                <div class="work_title"><h1>タイトルはないよ</h1></div>
              </div>
            </div>
          </div>
          <!-- 制作者コメント -->
          <div class="creator_box">
            <input id="creator_btn" type="button" value="詳細">
              <div class="creator_box_inner">
								<div class="box_close_btn"><img src="../Images/close.png" alt="閉じるボタン" /></div>
                <div class="creator_info">
                  <h2>制作者情報</h2>
                <div class="creator_icon"><img src="../Images/user.png"></div>
                <div class="creator_name"><h1>user</h1></div>
                <div class="creator_sns">
<!--                  <ul>
                    <li><a href="https://twitter.com/social_sharing1" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://ja-jp.facebook.com/%E3%82%BD%E3%83%BC%E3%82%B7%E3%83%A3%E3%83%AB%E3%82%B7%E3%82%A7%E3%82%A2%E3%83%AA%E3%83%B3%E3%82%B0%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE-238624082989029/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                  </ul>-->
                </div>
                <div class="creator_coment"></div>
                <div class="work_coment_title"><h1>作品概要</h1></div>
                <div class="work_coment"></div>
              </div>
            </div>
          </div>
          <div class="review_box">
            <input id="review_btn" type="button" value="レビュー">
          <div class="review_box_inner">
						<div class="box_close_btn"><img src="../Images/close.png" alt="閉じるボタン"/></div>
						<div class="review_waku">
            <div class="review_title">
              <!-- <button id="review_btn" ><h2>レビュー</h2></button> -->
            </div>
            <div class="review_title_h1"><h1>評価投稿</h1></div>

           <div class="review_coment">
						 <div class="review">
              <h1>レビューをする</h1>
              <h2>★★★★★</h2>
            </div>
             <h1>コメントをする</h1>
             <textarea name="comment" cols="40" rows="8"></textarea>
             <input class="review_btn" type="button"  value="レビュー" >
           </div>
           <div class="all_h1"><h1>評価一覧</h1></div>
           <div class="review_all">
             <h1>レビュー合計</h1>
             <h2>★★★★★</h2>
           </div>
           <div class="past_coment"></div>
          </div>
				</div>
        </div>
      </div>

            </div>
      <!---------- 作品投稿終了 ---------->
<!--   作品リスト -->

     <table>
       <tr>
         <td>
           <input class="before_btn" type="button" value="戻る">
         </td>
         <td>
           <p class="pageNum"></p>
         </td>
         <td>
           <input class="next_btn" type="button" value="次へ">
         </td>
       </tr>
     </table>


      <!------------コンテンツ部分------------>


          <!---------- フッター開始 ---------->
		<footer>
      
      <div class="footer_menu">
          <ul>
              <li><a href="#">サイトポリシー</a></li>
              <li><a href="#">プライバシーポリシー</a></li>
              <li><a href="#">お問い合わせ</a></li>
              <li><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a></li>
              <li class="facebook"><div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div></li>
          </ul>
      </div>
      <div class="copy">
      <small>Copyright ©2017 E-SMILE. Co.,Ltd. All rights reserved.</small>
      </div>
    </footer>
		</div>
		<!---------- フッター終了 ---------->
    

		<script type="text/javascript" src="../JS/works.js" ></script>
</body>
</html>
