.clearfix:after{
	display:block;
  height:0;
	visibility:hidden;
	clear:both;
	content:"";
}

/*スクロールバー消去*/
::-webkit-scrollbar{
  width:0px;
}

/*ライトボックスを開いた時にスクロールできないようにするために使用*/
.overflow{
  overflow:hidden;
}
body{
  margin:0;
}
/*------------------------------- ヘッダー開始　-------------------------------*/
header{
  min-width:1360px;
  width:100%;
  height:80px;
  position:fixed;
  z-index:1;
  background-color:#111;
}

.logo{
  margin: 23px 0 0 20px;
}

.menu ul{
  float: right;
  margin-right:80px;
}

.menu ul li{
  float: left;
  margin:45px 0 0 100px;
}

.menu ul li a{
  color:#fff;
  text-decoration: none;
}

.icon ul{
  width: 15%;
  margin-top: -10px;
  float: right;
}

.icon ul li{
  float: left;
  margin:45px 0 0 20px;
}

.icon ul li img{
  width:30px;
}

.login_btn{
  width: 120px;
  height: 40px;
  position: relative;
  float:right;
  margin:20px 20px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.login_btn:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.new_btn{
  width: 120px;
  height: 40px;
  position: relative;
  float:right;
  margin:20px 20px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.new_btn:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

/*コンテンツ内容*/

.background{
 min-width:1230px;
 min-height:877px;
 height:974px;
 position:relative;
 bottom:0;
 background:url('../Images/background__.png') no-repeat 50% 50% ;
 background-size:cover;
}

.contents{
  position:absolute;
  top:0;
}

.left{
  float:left;
  margin: 200px;
}

.title{
  color:#fff;
  font-size:25px;
}

.creators_icon{
  width:400px;
  height:400px;
  margin-top:40px;
  background:#fff;
}

.name{
  margin-top:40px;
  color:#fff;
  font-size:20px;
}

.name h1{
  text-align: center;
}

.sns_icon ul{
  width: 38%;
  height: 30px;
  margin: 0 auto;
}

.sns_icon ul li{
  float: left;
  margin: 40px 0 0 15px;
}

.sns_icon ul li img{
  width:30px;
}

.right{
  float:right;
}

.lightbox_waku{
  width:98%;
  margin: 0 auto;
  position: relative;
}

.close_btn{
  position:absolute;
  top: -55px;
  left: 80%;
  cursor:pointer;
}

.lightbox_contents{
  width:90%;
}

.lightbox {
  width:250px;
  height:250px;
  position:relative;
  z-index:0;
  float:left;
  margin: 31px;
  text-align:center;
  cursor:pointer;
  overflow:hidden;
  background-color:#fff;
  color:#fff;
}

.lightbox_hover{
  display: none;
  width:250px;
  height:250px;
  position:absolute;
  top:0;
  z-index:0;
  transition:all .5s ease;
  font-size:11px;
}

.hover_background{
  width:250px;
  height:250px;
  opacity: 0.7;
  background:#000;
}

.lightbox_information {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
}



.lightbox:hover .lightbox_hover{
  display: block;
}
/*
.lightbox_hover_waku{
  width:98%;
  margin: 0 auto;
  position: relative;
}*/

.lightbox img {
  position:relative;
}

.cle {
  clear: both;
}

.lightbox_view{
  display:none;
  width:100%;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
}

.lightbox_background{
  width:100%;
  height:983px;
  z-index:1;
  background:rgba(0,0,000,0.9);
}

.lightbox_user_waku{
  margin-left: 33px;
}

.lightbox_user_icon{
  width: 30px;
   height: 30px;
  border-radius:30px;
  background:#ff0000;
}

.lightbox_user_name{
  color:#fff;
}

.lightbox_user_name{
  width: 250px;
  margin: -15px 0 0 -20px;
}

.lightbox_title{
  width: 250px;
  height: 40px;
  margin-top: 90px;
}

.lightbox_title h1{
  font-size: 18px;
  color: #fff;
}

.lightbox_image_container{
  min-width: 1400px;
  width: 72%;
  position: absolute;
  top: 50%;
  left:21%;
  margin-top: -275px;
}

.lightbox_left_image{
  width:500px;
  height:600px;
  float: left;
  background:#fff;
}

.lightbox_right{
  width: 58%;
  height: 600px;
  float:right;
}

.user_information{
  width:400px;
}

.user_icon{
  width:50px;
  height:50px;
  border-radius:30px;
  background:#ff0000;
}

.user_name{
  color:#fff;
}

.user_name{
  margin: -15px 0 0 60px;
}

.user_sns_icon ul{
  margin-top: -70px;
  float: right;
}

.user_sns_icon ul li{
  float: left;
  margin:45px 0 0 20px;
}

.user_sns_icon ul li img{
  width:30px;
}

.work_title{
  width:400px;
  height:40px;
  margin-top: 30px;
}

.work_title h1{
  font-size: 25px;
  line-height: 42px;
  color: #fff;
}

.review{
  width:200px;
  height:30px;
  margin-top: 20px;
}

.review h1{
  font-size:13px;
  color:#fff;
}

.review h2{
  font-size: 30px;
  margin-top: 10px;
  color: #FFBF00;
}

.review_coment{
  margin-top: 40px;
}

.review_coment h1{
  font-size:13px;
  color:#fff;
}

textarea {
  resize: none;
  width:400px;
  height:120px;
  margin-top:5px;
}

.review_btn{
  width: 70px;
  height: 30px;
  position: relative;
  left: 25%;
  margin-top: -33px;
  float: right;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 12px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.review_btn:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.review_all{
  margin-top:30px;
}

.review_all h1{
  font-size:13px;
  color:#fff;
}

.review_all h2{
  font-size: 20px;
  margin-top: 10px;
  color: #FFBF00;
}

.past_coment{
  width: 500px;
  height: 160px;
  background: #fff;
  margin-top: 9px;
}

.login_contents{
  width:800px;
  margin:0 auto;
}






/*コンテンツ内容終わり*/
