@charset "utf-8";


.clearfix:after{
	display:block;
  height:0;
	visibility:hidden;
	clear:both;
	content:"";
}

/*??ｿｽ?ｿｽX??ｿｽ?ｿｽN??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ[??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽo??ｿｽ?ｿｽ[??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ*/
::-webkit-scrollbar{
  width:0px;
}

/*??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽC??ｿｽ?ｿｽg??ｿｽ?ｿｽ{??ｿｽ?ｿｽb??ｿｽ?ｿｽN??ｿｽ?ｿｽX??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽJ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽﾉス??ｿｽ?ｿｽN??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ[??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽﾅゑｿｽ??ｿｽ?ｿｽﾈゑｿｽ??ｿｽ?ｿｽ謔､??ｿｽ?ｿｽﾉゑｿｽ??ｿｽ?ｿｽ驍ｽ??ｿｽ?ｿｽﾟに使??ｿｽ?ｿｽp*/
.overflow{
  overflow:hidden;
}
body{
	font-family: -apple-system, blinkMacSystemFont, /* Macの欧文はSan Francisco (OS X 10.11以降) */
               'Helvetica Neue', /* Macの欧文 (OS X 10.10以前) */
               'Segoe UI',       /* Windowsの欧文 */
               YuGothicM,        /* Windows8.1以上は游ゴシック */
               YuGothic,         /* Macの游ゴシック */
               Meiryo,           /* 游ゴシックが入っていないWindows */
               sans-serif;

  margin:0;
}

/* Windows */
@font-face {
  font-family: YuGothicM;
  font-weight: normal;
  src: local('YuGothic-Medium'),  /* Mediumを明示的に指定 */
       local('Yu Gothic Medium'), /* Chrome用 */
       local('YuGothic-Regular'); /* Windows8.1ではMediumがないのでRegularを指定 */
}
@font-face {
  font-family: YuGothicM;
  font-weight: bold;
  src: local('YoGothic-Bold'), /* Boldはそのまま */
       local('Yu Gothic');     /* Chrome用 */
}

@media screen and ( min-width:415px ){

/*------------------------------- ??ｿｽ?ｿｽw??ｿｽ?ｿｽb??ｿｽ?ｿｽ_??ｿｽ?ｿｽ[??ｿｽ?ｿｽJ??ｿｽ?ｿｽn??ｿｽ?ｿｽ@-------------------------------*/
header{
  min-width:1360px;
  width:100%;
  height:80px;
  position:fixed;
  z-index:1;
  background-color:#111;
}

.logo{
  margin: 23px 0 0 20px;
}

/*----------g-nav??ｿｽ?ｿｽJ??ｿｽ?ｿｽn----------*/

.menu ul{
  float: right;
  margin-right:80px;
}

.menu ul li{
  float: left;
  margin:45px 0 0 100px;
}

.menu ul li a{
  color:#fff;
  text-decoration: none;
}

.login_user_icon{
  width:50px;
  height:50px;
  position: relative;
  float:right;
  margin:20px 20px;
  background: #fff;
  border-radius: 30px;
}

.login_user_menu{
  display: none;
  width:170px;
  height: 100px;
  position: fixed;
  line-height: 34px;
  padding-left:10px;
  z-index: 1;
  color:#fff;
	/* background:#B997FF; */
	background:#0000ff;
  border-radius: 10px;
  right:0;
  margin:110px 40px;
}

.login_user_menu:before{
  content: "";
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: 59px;
  border: 15px solid transparent;
  border-bottom: 15px solid #0000ff;
  z-index: 0;

}

.login_user_menu ul li a{
  color:#fff;
  text-decoration: none;
	cursor: hand;
}

.login_user_menu ul li a:hover{
  color:#ff0000;
}

/*----------g-nav??ｿｽ?ｿｽI??ｿｽ?ｿｽ??ｿｽ?ｿｽ----------*/

/*----------SNS??ｿｽ?ｿｽJ??ｿｽ?ｿｽn----------*/
.icon ul{
  width: 15%;
	margin:-10px -20px;
	font-size:30px;
  float: right;
}

.icon ul li{
  float: left;
  margin:45px 0 0 30px;
}

i {
	color:#fff;
}
/*----------SNS??ｿｽ?ｿｽI??ｿｽ?ｿｽ??ｿｽ?ｿｽ----------*/

/*--------------------??ｿｽ?ｿｽw??ｿｽ?ｿｽb??ｿｽ?ｿｽ_??ｿｽ?ｿｽ[??ｿｽ?ｿｽI??ｿｽ?ｿｽ??ｿｽ?ｿｽ--------------------*/

/*??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽO??ｿｽ?ｿｽC??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ{??ｿｽ?ｿｽ^??ｿｽ?ｿｽ??ｿｽ?ｿｽ*/
.login_btn{
  width: 120px;
  height: 40px;
  position: relative;
  float:right;
  margin:20px 20px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.login_btn:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}
/*??ｿｽ?ｿｽV??ｿｽ?ｿｽK??ｿｽ?ｿｽo??ｿｽ?ｿｽ^??ｿｽ?ｿｽ{??ｿｽ?ｿｽ^??ｿｽ?ｿｽ??ｿｽ?ｿｽ*/
.new_btn{
  width: 120px;
  height: 40px;
  position: relative;
  float:right;
  margin:20px 20px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.new_btn:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

/*----------??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽO??ｿｽ?ｿｽC??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽﾊ開??ｿｽ?ｿｽn----------*/
.login_contents{
  width:800px;
  margin:0 auto;
}

.login_background{
  width:100%;
  height:983px;
  z-index:1;
  background:rgba(0,0,000,0.6);
}

.login_image_container{
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-275px;
  margin-left:-400px;
}

.login_title h1{
  text-align: center;
  font-size:25px;
  margin: -60px 0 33px;
}

.login_contents{
  width:800px;
  margin:0 auto;
}

.login_view{
  display:none;
  width:100%;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
}

.login_box{
  width: 400px;
  height: 500px;
  background: #fff;
  margin-left: 200px;
}

.login_header{
  width:400px;
  height:80px;
  background: #3F3ACE;
}

.login_logo{
  text-align: center;
  padding-top: 28px;
}

.login_logo img{
  width:200px;
}

.login_btn3{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-left: 20px;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.login_btn3:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.know_pass{
	font-size: 11px;
  color: #0000ff;
  cursor: pointer;
}

.know_pass:hover{
	font-size: 11px;
  color: #ff0000;
  border-bottom: 1px solid;
  cursor: pointer;
}

.login_btn4{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-left: 20px;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.login_btn4:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.close_btn2{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.close_btn2:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.login_close_btn{
  position: absolute;
  left: 110%;
  top: -55px;
  cursor: pointer;
}

.login_word{
  width: 48%;
  margin: 0 auto;
  margin-top: 90px;
  line-height: 35px;
}

.login_word h2{
	font-size:11px;
	line-height: 15px;
}

.login_btn_content{
  width: 400px;
  text-align: center;
  margin: 70px 0 0 5px;
}

.login_text{
  width: 105%;
  height: 22px;
}

.pass_text{
  width: 105%;
  height: 22px;
}

.login_btn3{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-left: 20px;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.login_btn3:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.close_btn2{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.close_btn2:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

/*----------??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽO??ｿｽ?ｿｽC??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽﾊ終??ｿｽ?ｿｽ??ｿｽ?ｿｽ----------*/
.pass_contents{
  width:800px;
  margin:0 auto;
}

.pass_background{
  width:100%;
  height:983px;
  z-index:1;
  background:rgba(0,0,000,0.6);
}

.pass_image_container{
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-275px;
  margin-left:-400px;
}

.pass_title h1{
  text-align: center;
  font-size:25px;
  margin: -60px 0 33px;
}

.pass_contents{
  width:800px;
  margin:0 auto;
}

/*----------??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽO??ｿｽ?ｿｽC??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽﾊ開??ｿｽ?ｿｽn----------*/
.login_Comp_view{
  display:none;
  width:100%;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
}

.mypage_btn{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-left: 20px;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.mypage_btn:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.login_Comp_text{
	text-align: center;
  margin-top: 155px;
  font-size: 23px;
}

.new_confirmation_view{
  display:none;
  width:100%;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
}

.confirmation_btn{
  width: 100px;
  height: 35px;
  position: relative;
  /* right: 2%;
  margin-left: 20px; */
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.confirmation_btn:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

/*??ｿｽ?ｿｽo??ｿｽ?ｿｽ^??ｿｽ?ｿｽ{??ｿｽ?ｿｽ^??ｿｽ?ｿｽ??ｿｽ?ｿｽ*/
.touroku_btn{
  width: 100px;
  height: 35px;
  position: relative;
  /* right: 2%;
  margin-left: 20px; */
	left: 17%;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
/*??ｿｽ?ｿｽo??ｿｽ?ｿｽ^??ｿｽ?ｿｽ{??ｿｽ?ｿｽ^??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ@??ｿｽ?ｿｽz??ｿｽ?ｿｽo??ｿｽ?ｿｽ[*/
.touroku_btn:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}
/*??ｿｽ?ｿｽﾟゑｿｽ??ｿｽ?ｿｽ{??ｿｽ?ｿｽ^??ｿｽ?ｿｽ??ｿｽ?ｿｽ*/
.return_btn{
  width: 100px;
  height: 35px;
  position: relative;
  /* right: 2%; */
	right: 17%;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
/*??ｿｽ?ｿｽﾟゑｿｽ??ｿｽ?ｿｽ{??ｿｽ?ｿｽ^??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ@??ｿｽ?ｿｽz??ｿｽ?ｿｽo??ｿｽ?ｿｽ[*/
.return_btn:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

/*??ｿｽ?ｿｽV??ｿｽ?ｿｽK??ｿｽ?ｿｽo??ｿｽ?ｿｽ^??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽe??ｿｽ?ｿｽm??ｿｽ?ｿｽF??ｿｽ?ｿｽy??ｿｽ?ｿｽ[??ｿｽ?ｿｽW??ｿｽ?ｿｽI??ｿｽ?ｿｽ??ｿｽ?ｿｽ*/

.new_background{
  width:100%;
  height:983px;
  z-index:1;
  background:rgba(0,0,000,0.6);
}

.new_touroku_view{
  display:none;
  width:100%;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
}

.mypage_btn{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-left: 20px;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.mypage_btn:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.touroku_text{
  margin-top: 160px;
  text-align: center;
}

.touroku_text h1{
  margin-bottom: 20px;
  font-size: 25px;
}

.new_touroku_box{
  width: 400px;
  height: 500px;
  background: #fff;
	margin-left: 200px;
}

.new_touroku_btn_content{
/*  float: left;*/
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
/*  margin-left: 186px;*/
}

.top_btn1{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.top_btn1:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.new_header{
  width:400px;
  height:80px;
  background: #3F3ACE;
}


.new_view{
  display:none;
  width:100%;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
}


.new_background{
  width:100%;
  height:983px;
  z-index:1;
  background:rgba(0,0,000,0.6);
}

.new_image_container{
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-275px;
  margin-left:-400px;
}
.new_box{
	width: 400px;
  height: 500px;
  background: #fff;
  margin-left: 200px;
}

.new_header{
  width:400px;
  height:80px;
  background: #3F3ACE;
}

.new_logo{
  text-align: center;
  padding-top: 28px;
}

.new_logo img{
  width:200px;
}

.login_btn3{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-left: 20px;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.login_btn3:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.close_btn2{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.close_btn2:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.new_close_btn{
  position: absolute;
  left: 110%;
  top: -55px;
  cursor: pointer;
}

.new_word{
  width: 48%;
  margin: 0 auto;
  margin-top: 90px;
  line-height: 35px;
}

.new_btn_content{
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
}

.new_title h1{
	text-align: center;
  font-size:25px;
  margin-top: -42px
}

/*??ｿｽ?ｿｽv??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽt??ｿｽ?ｿｽB??ｿｽ?ｿｽ[??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽﾒ集??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽﾊ開??ｿｽ?ｿｽn*/


.new_contents1 {
  position: absolute;
  width: 100%;
/*  margin: 0 auto;*/
}

.new_title {
  width: 23%;
  margin: 160px auto 0;
  color: #000;
}

.left_border {
    width: 50px;
    margin-top: 13px;
    float: left;
    border-bottom: 2px solid;
}

.right_border {
    width: 50px;
    margin-top: 13px;
    float: right;
    border-bottom: 2px solid;
}

.new_title h1 {
    text-align: center;
    font-size: 25px;
}

.new_box1 {
  width: 900px;
  margin: 0 auto;
}

.new_left_content {
  width: 200px;
  margin: 110px 80px 0 120px ;
  float: left;
}

.new_images {
  width: 200px;
  border: 1px #000 solid;
}

.new_image {
  width: 200px;
  height: 200px;
}

label p{
	width: 56px;
  height: 19px;
  position: relative;
  float: right;
  margin-top: -26px;
  display: inline-block;
  font-weight: bold;
	text-align: center;
  text-decoration: none;
	line-height: 22px;
  color: #FFF;
  font-size: 12px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}

label p:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

#choice_btn{
  display: none;
}


.new_right_content {
  width: 400px;
/*  float: left;*/
  margin: 110px auto 50px;
}

.new_form dt{
  width: 128px;
  height: 30px;
  line-height: 32px;
/*  margin-left: -75px;*/
  padding-left: 6px;
  float:left;
  font-size: 13px;
  color:#fff;
  background:#383474;
}

.new_form dd{
  height: 20px;
  margin-bottom: 38.5px;
}

.new_form dd input{
  width: 244px;
  height: 24px;
/*  float:right;*/
}

.new_btn_content{
/*  float: left;*/
  width: 541px;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
/*  margin-left: 186px;*/
}

.new_trimming_btn {
    width: 200px;
    margin-top: 10px;
    position: absolute;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
    padding: 0.3em 0.5em;
    background: #3F3ACE;
    transition: .4s;
}

.storage_btn ,.delete_btn2{
  width: 133px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}

.storage_btn:hover ,.delete_btn2:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}



.background{
	min-height: 3500px;
  width: 1920px;
  height: 974px;
  position: fixed;
  bottom: 0;
  background: url(../Images/background__.png) no-repeat 50% 50%;
  background-size: cover;
}

.click_before{
	width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
}

.click_after{
	width: 50%;
  z-index: 0;
  margin: 0 auto;
}

/*-------------------??ｿｽ?ｿｽt??ｿｽ?ｿｽb??ｿｽ?ｿｽ^??ｿｽ?ｿｽ[??ｿｽ?ｿｽJ??ｿｽ?ｿｽn--------------------*/
footer{
  min-width: 1200px;
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: -260px;
  background: #000;
}

footer small{
  margin-top: 52px;
  text-align: center;
  color: #fff;
	font-size:11px
}

.footer_menu{

	min-width: 733px;
  width: 40%;
  height: 10px;
  margin: 0 auto;
  margin-top: 44px;
}

.footer_menu ul{
	display: inline-block;
	text-align: center;
}

.footer_menu ul li{
	display: block;
	float: left;

}
.footer_menu ul li:not(farst){
	margin-left: 42px;
}
.footer_menu ul li a{
	font-size:13px;
	color:#fff;
	text-decoration: none;
}

.copy{
	margin-top: 50px;
  text-align: center;
  color: #fff;
  font-size: 11px;
}

/*-------------------??ｿｽ?ｿｽt??ｿｽ?ｿｽb??ｿｽ?ｿｽ^??ｿｽ?ｿｽ[??ｿｽ?ｿｽI??ｿｽ?ｿｽ??ｿｽ?ｿｽ--------------------*/

.sp-nav {
  display: none;
}

}



/*??ｿｽ?ｿｽv??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽt??ｿｽ?ｿｽB??ｿｽ?ｿｽ[??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽﾒ集??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽﾊ開??ｿｽ?ｿｽn??ｿｽ?ｿｽiSP??ｿｽ?ｿｽj*/

@media screen and ( max-width:414px ){

/*------------------------------- ??ｿｽ?ｿｽw??ｿｽ?ｿｽb??ｿｽ?ｿｽ_??ｿｽ?ｿｽ[??ｿｽ?ｿｽJ??ｿｽ?ｿｽn??ｿｽ?ｿｽ@-------------------------------*/
header{
  min-width:320px;
  width:100%;
  height:80px;
  position:fixed;
  z-index:1;
  background-color:#111;
}

.logo{
  display: none;
  margin: 23px 0 0 20px;
}

/*ハンバーガーボタン */
  
header .sp-box {
  display: inline-block;
}

header .btn-hamburger {
  width: 30px;
  height: 30px;
  position: relative;
  top: 27px;
  left: 22px;
}

header .btn-hamburger span {
  position: absolute;
  display: inline-block;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition: all .4s;
  transition: all .4s;
  box-sizing: border-box;
}

.btn-hamburger span:nth-of-type(1) {
  top: 0;
}

.btn-hamburger span:nth-of-type(2) {
  top: 6px;
}

.btn-hamburger span:nth-of-type(3) {
  top: 12px;
  }

.btn-hamburger span:nth-of-type(4) {
  height: 0;
  top: 25px;
  left: 1px;
  color: #eee;
  font-size: 11px;
  font-weight: bold;
  font-family: "?ｿｽl?ｿｽr ?ｿｽS?ｿｽV?ｿｽb?ｿｽN",sans-serif;
  }

.btn-hamburger.active span:nth-of-type(1) {
  top: 11px;
  left: 1px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.btn-hamburger.active span:nth-of-type(2),
.btn-hamburger.active span:nth-of-type(3) {
  top: 11px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ハンバーガーメニュー  */

.sp-box .sp-nav{
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,000,0.8);
  position: fixed;
  top: 79px;
  left: 0;
  z-index: 100;
  }

.drawer-menu {
  display: table;
  width: 50%;
  margin: 0 auto;
}

.drawer-menu ul {
  margin: 70px 0;
}

.drawer-menu .after {
  display: none;
  margin: 20px 0;
}

.drawer-menu .after .child_01 {
  margin: 0 auto 20px;
}


.drawer-menu ul li {
  width: 100%;
  margin: 16px auto 0;
}

.drawer-menu ul li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-family: "MS ?ｿｽS?ｿｽV?ｿｽb?ｿｽN",sans-serif;
  font-weight: bold;
}

.login_btn{
  display: none;
  width: 100%;

}

.new_btn{
  display: none;
  width: 100%;
}

/*ハンバーガーメニュー内　SNS*/

.drawer-icon {
  width: 100%;
}

.drawer-icon ul {
  width: 50%;
  margin: 0 auto;
}

.drawer-icon li {
  display: table-cell;
  vertical-align: middle;
  width: 62px;
  text-align: center;
}

.drawer-icon a {
  font-size: 30px;
}

.drawer-icon a i {
  color: #fff;
}

header nav ul li a::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: #fffaee;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}


header .nav {
    display: none;
  }



/*  ハンバーガーメニュー　*/

/*　ログイン後ハンバーガーメニュー　*/

.user_data{
  display: none;
  width: 100%;
  height: 140px;
}

.login_user_icon{
  width:100px;
  height:100px;
  position: relative;
  top: 20px;
  left: 0;
  margin: 0 auto;
  background: #fff;
  border-radius: 70px;
}
 
.main_01 {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-family: "MS ?ｿｽS?ｿｽV?ｿｽb?ｿｽN",sans-serif;
  font-weight: bold;
}

.child_01 {
  display: none;
  margin: 20px 0;
}
/*　ログイン後ハンバーガーメニュー　*/

/*----------??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽO??ｿｽ?ｿｽC??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽﾊ開??ｿｽ?ｿｽn----------*/
.login_contents{
  width:800px;
  margin:0 auto;
}

.login_background{
  width:100%;
  height:983px;
  z-index:1;
  background:rgba(0,0,000,0.6);
}

.login_image_container{
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-275px;
  margin-left:-400px;
}

.login_title h1{
  text-align: center;
  font-size:25px;
  margin: -60px 0 33px;
}

.login_contents{
  width:800px;
  margin:0 auto;
}

.login_view{
  display:none;
  width:100%;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
}

.login_box{
  width: 400px;
  height: 500px;
  background: #fff;
  margin: -217px 200px;
}

.login_header{
  width:400px;
  height:80px;
  background: #3F3ACE;
}

.login_logo{
  text-align: center;
  padding-top: 28px;
}

.login_logo img{
  width:200px;
}

.login_btn3{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-left: 20px;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.login_btn3:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.login_btn4{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-left: 20px;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.login_btn4:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.close_btn2{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.close_btn2:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.login_close_btn{
  position: absolute;
  left: 110%;
  top: -55px;
  cursor: pointer;
}

.login_word{
  width: 48%;
  margin: 0 auto;
  margin-top: 90px;
  line-height: 35px;
}

.login_word h2{
	font-size:11px;
	line-height: 15px;
}

.login_btn_content{
  width: 400px;
  text-align: center;
  margin: 70px 0 0 5px;
}

.login_text{
  width: 105%;
  height: 22px;
}

.pass_text{
  width: 105%;
  height: 22px;
}

.login_btn3{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-left: 20px;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.login_btn3:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.know_pass{
	font-size: 11px;
  color: #0000ff;
  cursor: pointer;
}

.know_pass:hover{
	font-size: 11px;
  color: #ff0000;
  border-bottom: 1px solid;
  cursor: pointer;
}

.close_btn2{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.close_btn2:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.pass_contents{
  width:800px;
  margin:0 auto;
}

.pass_background{
  width:100%;
  height:983px;
  z-index:1;
  background:rgba(0,0,000,0.6);
}

.pass_image_container{
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-275px;
  margin-left:-400px;
}

.pass_title h1{
  text-align: center;
  font-size:25px;
  margin: -60px 0 33px;
}

.pass_contents{
  width:800px;
  margin:0 auto;
}

.pass_view{
  display:none;
  width:100%;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
}

.pass_box{
  width: 400px;
  height: 500px;
  background: #fff;
  margin: -217px 200px;
}

.pass_header{
  width:400px;
  height:80px;
  background: #3F3ACE;
}

.pass_logo{
  text-align: center;
  padding-top: 28px;
}

.pass_logo img{
  width:200px;
}

.pass_btn3{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-left: 20px;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.pass_btn3:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.pass_btn4{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-left: 20px;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.pass_btn4:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.close_btn2{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.close_btn2:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.pass_close_btn{
  position: absolute;
  left: 110%;
  top: -55px;
  cursor: pointer;
}

.pass_word{
  width: 48%;
  margin: 0 auto;
  margin-top: 90px;
  line-height: 35px;
}

.pass_word h2{
	font-size:11px;
	line-height: 15px;
}

.pass_btn_content{
  width: 400px;
  text-align: center;
  margin: 70px 0 0 5px;
}

.mail_text{
  width: 105%;
  height: 22px;
}



.passpop_text{
  width: 105%;
  height: 22px;
}

.mail_btn{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-left: 20px;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}

/*box*/

.login_Comp_view{
  display:none;
  width:100%;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
}

.top_btn1{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.top_btn1:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.mypage_btn{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-left: 20px;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.mypage_btn:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.login_Comp_text{
	text-align: center;
  margin-top: 155px;
  font-size: 23px;
}

.new_touroku_btn_content{
/*  float: left;*/
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
/*  margin-left: 186px;*/
}

.new_contents{
  width:800px;
  margin:0 auto;
}

.new_background{
  width:100%;
  height:983px;
  z-index:1;
  background:rgba(0,0,000,0.6);
}

.new_image_container{
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-275px;
  margin-left:-400px;
}
.new_touroku_box{
	width: 400px;
  height: 500px;
  background: #fff;
  margin:-217px 200px;
}

.new_header{
  width:400px;
  height:80px;
  background: #3F3ACE;
}

.new_logo{
  text-align: center;
  padding-top: 28px;
}

.new_logo img{
  width:200px;
}

.login_btn3{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-left: 20px;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.login_btn3:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.close_btn2{
  width: 100px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.close_btn2:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.new_close_btn{
  position: absolute;
  left: 110%;
  top: -55px;
  cursor: pointer;
}

.new_word{
  width: 48%;
  margin: 0 auto;
  margin-top: 90px;
  line-height: 35px;
}

.new_btn_content{
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
}

.new_title h1{
	text-align: center;
  font-size:25px;
  margin-top: -42px
}

/*box*/

/*----------??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽO??ｿｽ?ｿｽC??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽﾊ終??ｿｽ?ｿｽ??ｿｽ?ｿｽ----------*/


.new_confirmation_view{
  display:none;
  width:100%;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
}

.confirmation_btn{
  width: 100px;
  height: 35px;
  position: relative;
  /* right: 2%;
  margin-left: 20px; */
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
.confirmation_btn:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

/*??ｿｽ?ｿｽo??ｿｽ?ｿｽ^??ｿｽ?ｿｽ{??ｿｽ?ｿｽ^??ｿｽ?ｿｽ??ｿｽ?ｿｽ*/
.touroku_btn{
  width: 100px;
  height: 35px;
  position: relative;
  /* right: 2%;
  margin-left: 20px; */
	left: 17%;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
/*??ｿｽ?ｿｽo??ｿｽ?ｿｽ^??ｿｽ?ｿｽ{??ｿｽ?ｿｽ^??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ@??ｿｽ?ｿｽz??ｿｽ?ｿｽo??ｿｽ?ｿｽ[*/
.touroku_btn:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}
/*??ｿｽ?ｿｽﾟゑｿｽ??ｿｽ?ｿｽ{??ｿｽ?ｿｽ^??ｿｽ?ｿｽ??ｿｽ?ｿｽ*/
.return_btn{
  width: 100px;
  height: 35px;
  position: relative;
  /* right: 2%; */
	right: 17%;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}
/*??ｿｽ?ｿｽﾟゑｿｽ??ｿｽ?ｿｽ{??ｿｽ?ｿｽ^??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ@??ｿｽ?ｿｽz??ｿｽ?ｿｽo??ｿｽ?ｿｽ[*/
.return_btn:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

/*??ｿｽ?ｿｽV??ｿｽ?ｿｽK??ｿｽ?ｿｽo??ｿｽ?ｿｽ^??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽe??ｿｽ?ｿｽm??ｿｽ?ｿｽF??ｿｽ?ｿｽy??ｿｽ?ｿｽ[??ｿｽ?ｿｽW??ｿｽ?ｿｽI??ｿｽ?ｿｽ??ｿｽ?ｿｽ

??ｿｽ?ｿｽo??ｿｽ?ｿｽ^??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽ*/
.new_touroku_view{
  display:none;
  width:100%;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
}



/*??ｿｽ?ｿｽv??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽt??ｿｽ?ｿｽB??ｿｽ?ｿｽ[??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽﾒ集??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽﾊ開??ｿｽ?ｿｽn*/


.new_contents1 {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  padding: 0 14px;
	margin-top: 90px;
/*  margin: 0 auto;*/
}

.new_title {
  width: 71%;
  margin: 110px auto 0;
  color: #000;
}

.left_border {
  width: 35px;
  margin-top: 7px;
  float: left;
  border-bottom: 2px solid;
}

.right_border {
    width: 35px;
    margin-top: 7px;
    float: right;
    border-bottom: 2px solid;
}

.new_title h1 {
    text-align: center;
    font-size: 21px;
}

.new_box {
  width: 100%;
  margin: 0 auto;
}

.new_left_content {
  width: 200px;
  margin: 80px auto 20px ;
/*  float: left;*/
}

.new_images {
  width: 200px;
  border: 1px #000 solid;
}

.new_image {
  width: 200px;
  height: 200px;
}

label p{
	width: 56px;
  height: 19px;
  position: relative;
  float: right;
  margin-top: -26px;
  display: inline-block;
  font-weight: bold;
	text-align: center;
  text-decoration: none;
	line-height: 22px;
  color: #FFF;
  font-size: 12px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}

label p:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

#choice_btn{
  display: none;
}


.new_right_content {
  width: 100%;
  float: left;
  margin: 50px auto 20px;
}

.new_form{
	margin-top:20px;
}

.new_form dt{
  width: 111px;
  height: 27px;
  line-height: 29px;
/*  margin-left: -75px;*/
  padding-left: 6px;
  float:left;
  font-size: 13px;
  color:#fff;
  background:#383474;
}

.new_form dd{
  height: 27px;
  margin-bottom: 74.5px;
}

.new_form dd input{
  display: block;
  width: 99%;
  height: 35px;
/*  float:right;*/
}

.new_btn_content{
  float: left;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-top: 15px;
/*  margin-left: 186px;*/
}

.new_trimming_btn {
    width: 200px;
    margin-top: 10px;
    position: absolute;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
    padding: 0.3em 0.5em;
    background: #3F3ACE;
    transition: .4s;
}


.storage_btn ,.delete_btn2{
  width: 133px;
  height: 35px;
  position: relative;
  right: 2%;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #3F3ACE;
  transition: .4s;
}

.storage_btn:hover ,.delete_btn2:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}



/*??ｿｽ?ｿｽv??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽt??ｿｽ?ｿｽB??ｿｽ?ｿｽ[??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽﾒ集??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽﾊ終??ｿｽ?ｿｽ??ｿｽ?ｿｽ??ｿｽ?ｿｽiSP??ｿｽ?ｿｽj*/

/*??ｿｽ?ｿｽw??ｿｽ?ｿｽi*/
.background{
/*	min-height: 800px;*/
  width: 100%;
  height: 745px;
  position: fixed;
  bottom: 0;
  background: url(../Images/background__.png) no-repeat 50% 50%;
  background-size: cover;
}

.click_before{
	width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
}

.click_after{
	width: 73%;
  z-index: 0;
  margin: 0 auto;
}

/*-------------------??ｿｽ?ｿｽt??ｿｽ?ｿｽb??ｿｽ?ｿｽ^??ｿｽ?ｿｽ[??ｿｽ?ｿｽJ??ｿｽ?ｿｽn--------------------*/
footer{
  min-width: 1200px;
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: -260px;
  background: #000;
}

footer small{
  margin-top: 52px;
  text-align: center;
  color: #fff;
	font-size:11px
}

.footer_menu{

	min-width: 733px;
  width: 40%;
  height: 10px;
  margin: 0 auto;
  margin-top: 44px;
}

.footer_menu ul{
	display: inline-block;
	text-align: center;
}

.footer_menu ul li{
	display: block;
	float: left;

}
.footer_menu ul li:not(farst){
	margin-left: 42px;
}
.footer_menu ul li a{
	font-size:13px;
	color:#fff;
	text-decoration: none;
}

.copy{
	margin-top: 50px;
  text-align: center;
  color: #fff;
  font-size: 11px;
}
/*-------------------??ｿｽ?ｿｽt??ｿｽ?ｿｽb??ｿｽ?ｿｽ^??ｿｽ?ｿｽ[??ｿｽ?ｿｽI??ｿｽ?ｿｽ??ｿｽ?ｿｽ--------------------*/


}
